[color]
    ui = always
[color "branch"]
    current = green
    local = white
    remote = red
[color "status"]
    added = green
    changed = yellow
    untracked = red
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[pull]
    rebase = true
[push]
    default = simple
[alias]
    co = checkout
    cob = checkout -b
    br = branch
    st = status
    sst = status -s
    df = diff
    dfst = diff --stat
    who = shortlog -nse
    undo = reset --soft HEAD^
    tree = log --pretty=oneline --abbrev-commit --graph --decorate
    lola = log --pretty=format:'%C(yellow)%h %C(red)%ad %C(blue)%an%C(green)%d %C(reset)%s' --date=short --graph --all
    forget = update-index --assume-unchanged
    unforget = update-index --no-assume-unchanged
    amend = commit --amend --no-edit
    pushf = push --force-with-lease
[core]
    excludesfile = ~/.gitignore_global
    eol = lf
    autocrlf = input
[include]
    path = ~/.gitconfig_local
[init]
    defaultBranch = main
